//
// Contact info
// --------------------------------------------------


.contact-info
  reset-list()
  margin rem(5px) 0

  @media print
    columns 2
    text-align left
    margin-left: calc(1in - 5px);
    width: auto;

  li,
  a
    h5()
    color var(--text-color-lo-emphasis)
    font-size .9rem
    margin 0
    white-space nowrap

    &:hover
      color var(--primary-color)

  i
    margin-right .5em
    color $mountain-mist

  .icon-x
    width .82em
    height .82em
    margin-right .5em
    vertical-align -.08em
    fill $mountain-mist

  .fa-github
    color $montana

  .fa-stack-overflow
    color: $tango

  .icon-x
    fill #111

  .fa-linkedin
    color $french-blue
