//
// Layout
// --------------------------------------------------


.container
  position relative

.footer,
.sidebar
  background-color var(--surface-overlay-1)

.footer
  +to-width($screen-sm-breakpoint - 1)
    text-align center

.sidebar
  max-width 420px

  +from-width($screen-sm-breakpoint)
    lost-column 1/3
    absolute top bottom

  @media print
    max-width none

  +has(footer)
    padding 20px 20px

    +to-width($screen-sm-breakpoint - 1)
      display none

    @media print
      display: flex;
      text-align: left;

.footer,
.content
  padding 15px

.content
  +from-width($screen-sm-breakpoint)
    lost-column 3/6
    lost-offset -1/3
    padding 80px 30px

.footer
  +from-width($screen-sm-breakpoint)
    display none

.d-flex > .button-responsive
  +to-width($screen-sm-breakpoint - 1)
    margin 0 auto
