//
// Profile
// --------------------------------------------------


.profile
  padding 70px 15px 30px
  background-color var(--surface-overlay-2)
  text-align center

  @media print
    display flex
    gap 30px
    padding-inline calc(1in + 15px)
    padding-top 30px

  +has(picture)
    img-circle()
    max-width 220px

    @media print
      max-width 180px
      max-height 180px

  +has(details)
    @media print
      text-align left
      display flex
      flex-direction column
      justify-content center

  +has(name)
    uppercase()
    margin-bottom 15px
    font-size 25px
    line-height 1.2

  +has(title)
    bold()
    h4()
    color var(--text-color-lo-emphasis)
    margin-top 0
    font-size 0.9rem
    line-height 1.4

  +has(location)
    color var(--text-color-hi-emphasis)
    italic()
    font-size 0.9rem

    .fa
      color var(--text-color-muted)
      margin-right 0.5em

    +has(value)
      h2()
      margin 0
