//
// Typography
// --------------------------------------------------


// Typography baseline

typography()
text-selection($highlight-color, $white)


// Headings

h1, h2, h3, h4, h5, h6
  margin 1em 0 .5em 0

h2
  color var(--primary-color)

  small,
  .small
    bold()
    color var(--text-color-lo-emphasis)
    font-size .6em


// Alignment

.text-nowrap
  white-space nowrap


// Contextual colors

.text-muted
  color var(--text-color-muted)


// Lists

.list-unstyled
  reset-list()

.list-inline
  inline-list()


// Font faces

font-face('proxima-nova')
font-face('proxima-nova', 'normal', 'italic')
font-face('proxima-nova', 'bold')
font-face('proxima-nova', 'bold', 'italic')


// Various

abbr[title]
  border-bottom none

.position
  color var(--text-color-lo-emphasis)
  h5()
  margin-top -1em

.fa
  position relative
  top -1px

.text-size-1
    font-size .9em
.text-size-2
  font-size .68em
.text-print-size-1
  @media print
    font-size .9em
.text-print-size-2
  @media print
    font-size .68em

.mark
  background-color #fcf8e3
